<app-register
  class="register-resident"
  [title]="'Cadastrar Residente'"
  [steps]="steps"
  (updatedStep)="updateStep($event)"
  (cancel)="onCancel()"
  (finish)="onFinish()"
  [validStep]="validateStep()"
>
  @if(currentStep === 0) {
  <app-image-input (imageChange)="onImageChange($event)"></app-image-input>
  <app-input
    label="Nome"
    placeholder="Digite o nome do residente"
    [required]="true"
    (valueChange)="onInputChange(ResidentInputField.FULL_NAME, $event)"
    [value]="residentListResponseDto.fullName || ''"
  ></app-input>
  <!-- <app-input
    label="CPF"
    placeholder="Digite o CPF do residente"
    type="email"
    [required]="true"
    (valueChange)="onInputChange(ResidentInputField.CPF, $event)"
    [value]="residentListResponseDto.cpf || ''"
  ></app-input> -->

  <app-input
    label="CPF"
    placeholder="Digite o CPF do paciente"
    [required]="true"
    (valueChange)="onInputChange(ResidentInputField.CPF, $event)"
    [value]="residentListResponseDto.cpf || ''"
    [mask]="'000.000.000-00'"
    [dropSpecialCharacters]="false"
  ></app-input>

  @if(cpfInvalido) {
  <div class="error-message">CPF inválido. Verifique os números digitados.</div>
  }

  <app-select-input
    label="Sexo"
    [options]="[
      { value: '', label: 'Selecione o sexo', disabled: true },
      { value: 'M', label: 'Masculino' },
      { value: 'F', label: 'Feminino' }
    ]"
    [required]="true"
    (valueChange)="onInputChange(ResidentInputField.SEX, $event)"
    [value]="residentListResponseDto.sex || ''"
  ></app-select-input>
  <app-input
    label="Data de Nascimento"
    placeholder="Digite a data de nascimento do residente"
    type="date"
    [required]="true"
    [max]="today"
    (valueChange)="onInputChange(ResidentInputField.BIRTH_DATE, $event)"
    [value]="residentListResponseDto.birthDate || ''"
  ></app-input>

  } @if(currentStep === 1) {
  <app-input
    label="Nome do contato de emergência"
    placeholder="Digite o nome do contato de emergência do residente"
    [required]="false"
    (valueChange)="onInputChange(ResidentInputField.EMERGENCY_NAME, $event)"
    [value]="residentListResponseDto.emergencyName || ''"
  ></app-input>
  <!-- <app-input
    label="Telefone do contato de emergência"
    placeholder="Digite o telefone do contato de emergência do residente"
    type="tel"
    [required]="false"
    (valueChange)="onInputChange(ResidentInputField.EMERGENCY_PHONE, $event)"
    [value]="residentListResponseDto.emergencyPhone || ''"
  ></app-input> -->
  <app-input
    label="Telefone do contato de emergência"
    placeholder="Digite o telefone do contato de emergência do residente"
    type="tel"
    [required]="false"
    (valueChange)="onInputChange(ResidentInputField.EMERGENCY_PHONE, $event)"
    [value]="residentListResponseDto.emergencyPhone || ''"
    [mask]="'(00) 00000-0000'"
    [dropSpecialCharacters]="false"
  ></app-input>

  <div *ngIf="telefoneInvalido" class="error-message">
    Telefone inválido. Verifique os números digitados.
  </div>

  <app-input
    label="Parentesco com o residente"
    placeholder="Digite o grau de parentesco com o residente"
    type="text"
    [required]="false"
    (valueChange)="onInputChange(ResidentInputField.RELATIONSHIP, $event)"
    [value]="residentListResponseDto.relationship || ''"
  ></app-input>
  } @if(currentStep === 2) {
  <app-input
    label="Número do controle"
    placeholder="Digite o número do controle"
    type="number"
    [required]="true"
    [minControlNumber]="0"
    [maxControlNumber]="100"
    (valueChange)="onInputChange(ResidentInputField.CONTROL_NUMBER, $event)"
    [value]="residentListResponseDto.controlNumber || 0"
  />

  <app-input
    label="Número da residência"
    placeholder="Digite o endereco da residencia"
    [required]="true"
    (valueChange)="onInputChange(ResidentInputField.RESIDENTIAL_UNIT, $event)"
    [value]="residentListResponseDto.residentialUnit || ''"
  ></app-input>
  }
</app-register>
