.resident-card {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 16px;
  color: #222;
  transition: all 0.3s ease;

  &.status-normal {
    border-color: #8a8a8a;
    background-color: #f1efef;
  }

  &.status-warning {
    border-color: orange;
    background-color: #fff5e6;
  }

  &.status-critical {
    border-color: red;
    background-color: #ffe6e6;
  }

  .resident-header {
    display: flex;
    align-items: center;
    gap: 12px;

    .resident-avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #999;
    }

    .resident-name h3 {
      margin: 0;
      font-size: 16px;
    }

    .resident-name p {
      margin: 0;
      font-size: 14px;
      color: #555;
    }
  }

  .resident-info {
    margin: 12px 0 0 0;
    font-size: 14px;

    >* {
      margin-bottom: 8px;
    }
  }

  .status-badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid;

    &.status-normal {
      border-color: #007246;
      background-color: #fff5e6;
      color: #007246;
    }

    &.status-warning {
      border-color: orange;
      background-color: #fff5e6;
      color: orange;
    }

    &.status-critical {
      border-color: red;
      background-color: #ffe6e6;
      color: red;
    }

    i {
      font-size: 10px;
    }
  }

  button.resident-button {
    display: block;
    margin: 16px auto 0;
    /* centralizado horizontalmente */
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #0069c5;
    /* azul normal */
    color: white;
    font-weight: bold;
    transition: background 0.2s;

    &:hover {
      background-color: #014631;
    }
  }

  /* Daltonic mode */
  &.daltonic-mode {
    &.status-normal {
      background-color: #f1efef;
      /* azul clarinho */
    }

    &.status-warning {
      background-color: #e6f0ff;
      /* azul */
      border-color: #0069c5;
    }

    &.status-critical {
      background-color: #f3e6ff;
      /* roxo */
      border-color: #800080;
    }

    .status-badge.status-warning {
      border-color: #0069c5;
      background-color: #e6f0ff;
      color: #0069c5;
    }

    .status-badge.status-critical {
      border-color: #800080;
      background-color: #f3e6ff;
      color: #800080;
    }

    button.resident-button {
      background-color: #800080;

      /* botão roxo no modo daltônico */
      &:hover {
        background-color: #5a005a;
      }
    }
  }
}