<div class="card">
    <div class="card-header">
        <div class="card-title">
            <i class="fa-solid fa-user-shield"></i>
            <span>Registrar administrador</span>
        </div>
    </div>

    <div class="card-content">
        <div class="instructions">
            <p>
                • Cada administrador poderá gerenciar a lista de cuidadores
            </p>
            <p>
                • O administrador não deve compartilhar suas credenciais
            </p>
            <app-button [label]="'Registrar administrador(a)'" [type]="'primary'" (click)="cadastrar()" ></app-button>
        </div>
    </div>
</div>