<app-main>
  <div class="topbar">
    <div class="title-wrapper">
      <div class="icon-wrapper">
        <i class="fa-solid fa-users item-icon"></i>
      </div>
      <span class="page-title">Gerenciamento de Cuidadores e Tokens</span>
    </div>

    <div class="user-icon-wrapper" (click)="toggleUserMenu()" tabindex="0" (blur)="closeUserMenu()">
      <span class="user-name" *ngIf="userName">{{ userName }}</span>
      <i class="fa-solid fa-circle-user user-icon"></i>

      <div class="user-menu" *ngIf="isUserMenuOpen">
        <button (click)="onEditProfile($event)">
          <i class="fa-solid fa-pen"></i> Editar
        </button>
        <button (click)="onLogout($event)">
          <i class="fa-solid fa-right-from-bracket"></i> Sair
        </button>
      </div>
    </div>


  </div>

  <p class="page-description">
    Cadastre novas cuidadoras e gerencie seus tokens de acesso rápido.
  </p>

  <app-register-nurse-component></app-register-nurse-component>
  <app-list-nurse></app-list-nurse>
  <app-instructions></app-instructions>
  <app-register-caregiver-leader></app-register-caregiver-leader>
</app-main>