<app-main>
  <div class="topbar">
    <div class="title-wrapper">
      <div class="icon-wrapper">
        <i class="fa-solid fa-users item-icon"></i>
      </div>
      <span class="page-title">Gerenciamento de Cuidadores e Tokens</span>
    </div>
  </div>

  <p class="page-description">
    Cadastre novas cuidadores e gerencie seus tokens de acesso rápido.
  </p>

  <app-register-nurse-component></app-register-nurse-component>
  <app-list-nurse></app-list-nurse>
  <app-instructions></app-instructions>
  <app-register-caregiver-leader></app-register-caregiver-leader>
</app-main>
