<div
  class="card"
  [ngClass]="[level, status, daltonicMode ? 'daltonic-mode' : '']"
>
  <div class="card-main">
    <div class="image">
      <img
        [src]="imageUrl || 'assets/default_user_avatar.png'"
        alt="Residente"
      />
    </div>

    <div class="info">
      <div class="name">{{ name }}</div>
      <div class="details">
        🏠 Casa: {{ room }} &nbsp; ⏳ {{ formatElapsedTime(time) }}
      </div>
    </div>

    <div class="badges">
      <span class="badge level" [ngClass]="level">
        {{ level | titlecase }}
      </span>
      <span class="badge status" [ngClass]="status">
        {{ status.replace("_", " ") | titlecase }}
      </span>
    </div>
  </div>

  <!-- Observações só aparecem se status === 'atendido' -->
  <div class="observation" *ngIf="status === 'atendido' && observation">
    <strong>Observações:</strong> {{ observation }}
  </div>
</div>
