<h2 mat-dialog-title>Login</h2>

<form (ngSubmit)="login()" mat-dialog-content id="loginForm">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" name="email" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Senha</mat-label>
    <input
      matInput
      type="password"
      [(ngModel)]="password"
      name="password"
      required
    />
    </mat-form-field>

  <div *ngIf="loginError" class="login-error">{{ loginError }}</div>
</form>

<mat-dialog-actions>
  <div style="margin-right: auto;">
    <button
      *ngIf="registerButtonEnabled"
      mat-raised-button
      color="primary"
      (click)="cadastrar()"
    >
      Cadastrar
    </button>

    <button
      *ngIf="!registerButtonEnabled"
      mat-raised-button
      color="primary"
      (click)="esqueciSenha()"
    >
      Esqueceu senha
    </button>
  </div>

  <button mat-button mat-dialog-close>Cancelar</button>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    form="loginForm"
    [disabled]="blockUntil && currentTime < blockUntil"
  >
    Entrar
  </button>
</mat-dialog-actions>