.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.item-icon {
    font-size: 1.5rem;
    color: #555;
}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tabs-container {
    margin-bottom: 1rem;

    .mat-tab-group {
        background-color: #f5f5f5;
        border-radius: 999px;

        .mat-tab-label {
            border-radius: 999px;
            text-transform: none;
        }

        .mat-ink-bar {
            border-radius: 999px;
            height: 100%;
            background-color: #3b82f6; // azul
            z-index: -1;
        }
    }
}

.alerts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alerts-content {
    display: flex;
    gap: 1rem;

    /* Impede que o conteúdo extrapole o container */
    width: 100%;
    overflow-x: hidden;
}

/* Coluna da esquerda */
.alerts-list {
    flex: 0 0 60%;
    /* ocupa 60% da largura */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

// .alerts-list {
//     max-height: calc(100vh - 150px);
//     /* ajusta conforme sua topbar */
//     overflow-y: auto;
// }

.alert-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background: #f9f9f9;
    cursor: pointer;
    transition: 0.2s;
}

.alert-card.active {
    border: 2px solid #b00;
}

.alert-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.alert-card .info {
    flex: 1;
    margin-left: 1rem;
}

.alert-card .tags span {
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    font-size: 0.8rem;
}

.severity.Crítico {
    background: #e53935;
    color: white;
}

.severity.Alto {
    background: #fb8c00;
    color: white;
}

.severity.Médio {
    background: #fdd835;
    color: black;
}

.status {
    background: #c62828;
    color: white;
}

/* Coluna da direita */
.alert-details {
    flex: 0 0 40%;
    /* ocupa 40% da largura */
    padding: 1rem;
    border-radius: 10px;
    background: #f5f5f5;
}

.no-alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #666;
    text-align: center;
}

.no-alerts p {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}