<aside class="sidebar">
  <div class="logo-container">
    <img src="assets/svg/logoFull.png" alt="SAGE Logo" class="logo" />
  </div>
  <div class="items">
    <!-- <app-tooltip-wrapper
      tooltip="Ir para a tela de residentes"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
    >
      <a
        [routerLink]="[links.get('antigo-dashboard')]"
        class="item"
        [ngClass]="{
          'item-active': links.get('antigo-dashboard') === getActiveRoute()
        }"
        (click)="setActiveItem('antigo-dashboard')"
      >
        <i [class]="getIconClass('dashboard')" class="item-icon"></i>

        <p class="item-text">Residentes</p>
      </a>
    </app-tooltip-wrapper> -->
    <app-tooltip-wrapper
      tooltip="Ir para o painel de controle"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
    >
      <a
        [routerLink]="[links.get('dashboard')]"
        class="item"
        [ngClass]="{
          'item-active': links.get('dashboard') === getActiveRoute()
        }"
        (click)="setActiveItem('dashboard')"
      >
        <i [class]="getIconClass('dashboard')" class="item-icon"></i>

        <p class="item-text">Painel de Controle</p>
      </a>
    </app-tooltip-wrapper>
    <app-tooltip-wrapper
      tooltip="Ir para a tela de alertas"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
    >
      <a
        [routerLink]="['/alerts']"
        class="item"
        [ngClass]="{ 'item-active': getActiveRoute() === '/alerts' }"
        (click)="setActiveItem('alerts')"
      >
        <!-- <i [class]="getIconClass('alerts')" class="item-icon"></i> -->
        <div class="icon-wrapper">
          <i [class]="getIconClass('alerts')" class="item-icon"></i>
          <span *ngIf="totalActiveCalls > 0" class="badge">{{
            totalActiveCalls
          }}</span>
        </div>

        <p class="item-text">Alertas</p>
      </a>
    </app-tooltip-wrapper>
    <app-tooltip-wrapper
      tooltip="Ir para a tela de relatórios"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
      [ngClass]="{ 'item-active': getActiveRoute() === '/reports' }"
    >
      <a [routerLink]="['/reports']" class="item">
        <i [class]="getIconClass('reports')" class="item-icon"></i>

        <p class="item-text">Relatórios</p>
      </a>
    </app-tooltip-wrapper>
    <app-tooltip-wrapper
      tooltip="Ir para a tela de gerenciamento de enfermeiros"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
      [ngClass]="{ 'item-active': getActiveRoute() === '/nurse-manager' }"
    >
      <a [routerLink]="['/nurse-manager']" class="item">
        <i [class]="getIconClass('nurse')" class="item-icon"></i>

        <p class="item-text">Cuidador(a)</p>
      </a>
    </app-tooltip-wrapper>
    <app-tooltip-wrapper
      tooltip="Ir para a tela de configurações"
      position="right"
      [showDelay]="500"
      [hideDelay]="200"
      [ngClass]="{ 'item-active': getActiveRoute() === '/settings' }"
    >
      <a [routerLink]="['/settings']" class="item">
        <i [class]="getIconClass('settings')" class="item-icon"></i>

        <p class="item-text">Configurações</p>
      </a>
    </app-tooltip-wrapper>
  </div>
  <!-- <div class="exit-container">
    <a [routerLink]="['/']" class="exit">
      <app-button
        [label]="'Sair'"
        [type]="'secondary'"
        class="exit-button"
        [size]="'large'"
        [disabled]="true"
      ></app-button>
    </a>
  </div> -->
</aside>
