.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: auto;
    border-radius: 11px;
    padding: 1rem;
    background-color: #F5F5F5;
    max-width: 80%;
    margin: 0 auto;
}

.header {
    text-align: left;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-weight: bold;
    }
}