<div class="card">
  <h2>Atendimento do chamado</h2>

  <div class="resident-info">
    <img
      [src]="alertDetail.imageData"
      alt="Foto do residente"
      class="resident-photo"
    />
    <div class="resident-text">
      <p>
        <strong>{{ alertDetail.fullName }}</strong>
      </p>
      <p>Idade: {{ alertDetail.age }} anos</p>
      <p>Casa {{ alertDetail.residentialUnit }}</p>
    </div>
  </div>

  <p>
    <strong>Tempo decorrido:</strong>
    <span class="elapsed">{{ alertDetail.time }}</span>
  </p>

  <p>
    <strong>Prioridade:</strong>
    <span class="badge level" [style.background-color]="getLevelColor()">
      {{ alertDetail.severity | titlecase }}
    </span>
  </p>

  <p>
    <strong>Status:</strong>
    <span class="badge status" [style.background-color]="getStatusColor()">
      {{ alertDetail.status.replace("_", " ") | titlecase }}
    </span>
  </p>

  <div *ngIf="alertDetail.status !== 'atendido'">
    <label for="obs"><strong>Observações:</strong></label>
    <textarea
      id="obs"
      [(ngModel)]="newObservation"
      placeholder="Digite as observações"
    ></textarea>

    <button class="alert-button success" (click)="handleAtendimento()">
      {{
        alertDetail.status === "pendente"
          ? "Iniciar Atendimento"
          : alertDetail.status === "em_atendimento"
          ? "Finalizar Atendimento"
          : ""
      }}
    </button>
  </div>

  <div *ngIf="alertDetail.status === 'atendido'">
    <p><strong>Observações do atendimento:</strong></p>
    <div class="observations">
      {{ alertDetail.observations || "Sem observações" }}
    </div>
  </div>
</div>
