.reports-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); // 1 coluna padrão
    gap: 1.5rem; // espaçamento entre os cards

    @media (min-width: 640px) {
        // telas >= sm
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        // telas >= lg
        grid-template-columns: repeat(4, 1fr);
    }
}


.reports-graph {
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.reports-ranking-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}