<h2 mat-dialog-title>Recuperar Senha</h2>

<form *ngIf="!tokenSent" (ngSubmit)="enviarSolicitacao()" #emailForm="ngForm" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" name="email" required />
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="emailForm.invalid">
      Enviar
    </button>
  </mat-dialog-actions>
</form>

<form *ngIf="tokenSent" (ngSubmit)="redefinirSenha()" #resetForm="ngForm" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Código recebido</mat-label>
    <input matInput type="text" [(ngModel)]="token" name="token" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nova senha</mat-label>
    <input matInput type="password" [(ngModel)]="novaSenha" name="novaSenha" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirmar nova senha</mat-label>
    <input matInput type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha" required />
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
      Redefinir Senha
    </button>
  </mat-dialog-actions>
</form>
