.settings-card {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 16px;
    color: #222;
    transition: all 0.3s ease;
    border-color: #8a8a8a;
    background-color: #f1efef;
    display: grid;
    gap: 16px;
}

.header-settings {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 16px;
    color: #222;
    transition: all 0.3s ease;
    border-color: #8a8a8a;
    background-color: #f1efef;
    display: grid;
    gap: 16px;
}

.title-header-setings {
    display: flex;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

.line-info {
    display: flex;
    gap: 16px;
}

.title-line-info {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    display: flex;
    gap: 8px;
    padding: 16px 16px 0px 16px;
}

.data {
    display: flex;
    padding: 0px 0px 16px 24px;
}

.info {
    // background-color: #fff5e6;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #222;
    transition: all 0.3s ease;
    border-color: #8a8a8a;
    display: grid;
    flex: 1;
    gap: 16px;
}

.notice-card {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 16px;
    color: #222;
    transition: all 0.3s ease;
    border-color: #8a8a8a;
    background-color: #f1efef;
    display: grid;
    gap: 16px;
}

.title-notice-card {
    display: flex;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

.send-port-settings {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 16px;
    color: #222;
    transition: all 0.3s ease;
    border-color: #8a8a8a;
    background-color: #f1efef;
    display: grid;
    gap: 8px;
    margin-top: 20px;
}

.send-settings-line {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    display: flex;
    gap: 8px;
    padding: 16px 16px 0px 16px;
}

.title-line-settings {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    display: flex;
    gap: 8px;
    padding: 0px 16px 0px 16px;
}

.send-settings-button{
    
}