<div class="card">
  <div class="card-header">
    <div class="header">
      <div>
        <div class="title">
          <i class="fa-solid fa-users"></i>
          Cuidadoras Ativas ({{ activeNurseCount }})
        </div>
        <div class="description">
          Visualize e gerencie os tokens das cuidadoras cadastradas.
        </div>
      </div>
      <div class="search">
        <i class="fa-solid fa-magnifying-glass text-muted"></i>
        <input
          type="text"
          placeholder="Buscar por nome ou CPF..."
          [(ngModel)]="nurseSearchTerm"
          class="search-input"
        />
      </div>
    </div>
  </div>

  <div class="card-content">
    <table class="nurse-table">
      <thead>
        <tr>
          <th>Nome da Cuidadora</th>
          <th>CPF</th>
          <th>Token de Acesso</th>
          <th>Status</th>
          <th>Último Uso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nurse of filteredNurses">
          <td>
            <strong>{{ nurse.name }}</strong>
          </td>
          <td>{{ nurse.cpf }}</td>
          <td>
            <div class="token">
              <code>
                {{
                  showTokens[nurse.cpf]
                    ? nurse.token
                    : (nurse.token | slice : 0 : 2) + "****"
                }}
              </code>
              <button (click)="toggleToken(nurse.cpf)">
                <i
                  class="fa-solid"
                  [ngClass]="showTokens[nurse.cpf] ? 'fa-eye-slash' : 'fa-eye'"
                ></i>
              </button>
            </div>
          </td>
          <td>
            <div class="status">
              <span
                [ngClass]="nurse.status === 'active' ? 'active' : 'inactive'"
              >
                {{ nurse.status === "active" ? "Ativa" : "Inativa" }}
              </span>
              <input
                type="checkbox"
                [checked]="nurse.status === 'active'"
                (change)="toggleActive(nurse)"
              />
            </div>
          </td>
          <td>{{ nurse.lastUse || "Nunca usado" }}</td>
          <td>
            <div class="actions">
              <!-- <button (click)="confirmAction('regenerate', nurse.cpf)">
                <i class="fa-solid fa-rotate"></i>
              </button> -->

              <button (click)="handleEditNurse(nurse)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-edit-nurse-dialog
  [editingNurse]="editingNurse"
  (update)="handleUpdateNurse($event)"
  (cancel)="editingNurse = null"
></app-edit-nurse-dialog>
