<app-main>
  <div class="content">
    <!-- Topbar -->
    <div class="topbar">
      <div><span>Painel de controle</span></div>
      <div class="topbar-actions">
        <app-search-input
          placeholder="Digite para pesquisar..."
          (search)="onSearch($event)"
        ></app-search-input>
        <app-button
          [label]="'Cadastrar Residente'"
          [type]="'primary'"
          (clicked)="onRegisterResident()"
        ></app-button>
      </div>
    </div>

    <!-- Summary Cards -->
    <div class="summary-cards">
      <app-summary-card
        title="Residentes Cadastrados"
        [value]="totalResidents"
        icon="residents"
        color="default"
      ></app-summary-card>
      <app-summary-card
        title="Chamados ativos"
        [value]="totalActiveCalls"
        icon="calls"
        color="red"
      ></app-summary-card>
      <app-summary-card
        title="Resolvidos no dia"
        [value]="totalResolvedToday"
        icon="resolved"
        color="green"
      ></app-summary-card>
      <app-summary-card
        title="Tempo médio (hh:mm:ss)"
        [value]="meanTime"
        icon="time"
        color="default"
      ></app-summary-card>
    </div>

    <!-- Residents Section -->
    <div class="residents-title">
      <span>Status dos Residentes</span>
    </div>

    <div class="residents-container" (scroll)="onScroll($event)">
      <ng-container *ngIf="filteredResidents.length; else notFound">
        <app-dashboard-resident-card
          *ngFor="let resident of filteredResidents"
          [residentId]="resident.id"
          [residentImage]="resident.imageData"
          [residentName]="resident.fullName"
          [houseNumber]="resident.residentialUnit"
          [lastCallDateTime]="resident.lastEndAt!"
          [status]="getStatus(resident.severityLevel)"
          [totalCallsLast24Hours]="resident.callsLastDay.toString()"
          (openDetails)="onOpenDetails($event)"
        ></app-dashboard-resident-card>
      </ng-container>

      <ng-template #notFound>
        <div class="not-found">Não encontrado</div>
      </ng-template>
    </div>

    <!-- Resident Details Modal -->
    <app-dashboard-resident-details-modal
      [residentId]="selectedResidentId"
      [showModal]="showModal"
      (closeModal)="onCloseModal()"
    ></app-dashboard-resident-details-modal>
  </div>
</app-main>
