<app-modal (closeModal)="onCloseModal()" [showModal]="showModal">
  <label class="modal-title">Detalhes do Residente</label>

  <div class="resident-detail">
    <div class="image-container">
      <img [src]="residentDetails?.imageData" alt="Resident Image" class="resident-image" />
    </div>

    <h2 class="resident-name">{{ residentDetails?.fullName }}</h2>

    <form class="resident-form" novalidate>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input id="cpf" type="text" [value]="residentDetails?.cpf" disabled />
      </div>

      <div class="form-group">
        <label for="sex">Sexo:</label>
        <input id="sex" type="text" [value]="residentDetails?.sex" disabled />
      </div>

      <div class="form-group">
        <label for="birthDate">Data de Nascimento:</label>
        <input id="birthDate" type="date" [value]="residentDetails?.birthDate" disabled />
      </div>

      <div class="form-group">
        <label for="emergencyName">Nome da Emergência:</label>
        <input id="emergencyName" type="text" [value]="residentDetails?.emergencyName" disabled />
      </div>

      <div class="form-group">
        <label for="emergencyPhone">Telefone da Emergência:</label>
        <input id="emergencyPhone" type="text" [value]="residentDetails?.emergencyPhone" disabled />
      </div>

      <div class="form-group">
        <label for="relationship">Parentesco:</label>
        <input id="relationship" type="text" [value]="residentDetails?.relationship" disabled />
      </div>

      <div class="form-group">
        <label for="controlNumber">Número de Controle:</label>
        <input id="controlNumber" type="text" [value]="residentDetails?.controlNumber" disabled />
      </div>
    </form>
  </div>
</app-modal>